<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="main/import :: head"></head>
<body>
	<div id="app" class="contain">
		<!-- 검색 영역 -->
		<div class="search_form" ref="search_form">
			<el-form :inline="true" :model="searchForm" label-width="120px" label-suffix=":" :size="size" @submit.native.prevent>
				<el-row>
					<el-col :span="6">
						<el-form-item th:label="#{옵션명}">
							<el-input v-model="searchForm.smenuOptNm" @keyup.enter.native="search" clearable="true"></el-input>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item th:label="#{옵션그룹}">
							<el-select v-model="searchForm.smenuOptTpCd" @change="search">
								<el-option key=0 th:label="#{전체}" :value=null></el-option>
								<el-option v-for="item in smenuOptTp" :key="item.smenuOptTpCd" :label="item.smenuOptTpNm" :value = "item.smenuOptTpCd"></el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :span="6">
						<el-form-item th:label="#{사용 가능 여부}">
							<combo :data="mainVue.code.useYn" th:label="#{전체}" :model="searchForm.useYn" @change="searchForm.useYn = $event"></combo>
						</el-form-item>
					</el-col>
				</el-row>
			</el-form>
		</div>
		
		<!-- 버튼 -->
		<div class="buttons" ref="buttons">
			<el-button th:if='${sa_actions.contains("SmenuOptForStoreSearch")}' :size="size" th:text="#{검색}" @click="search" icon="el-icon-search" ></el-button>
			<el-button th:if='${sa_actions.contains("SmenuOptForStoreAdd")}' :size="size" th:text="#{등록}" @click="add" icon="el-icon-circle-plus-outline" :disabled="btn.addDisabled" ></el-button>
			<el-button th:if='${sa_actions.contains("SmenuOptForStoreUp")}' :size="size" th:text="#{수정}" @click="up" icon="el-icon-edit-outline" :disabled="btn.upDisabled" ></el-button>
			<el-button th:if='${sa_actions.contains("SmenuOptForStoreDel")}' :size="size" th:text="#{삭제}" @click="del" icon="el-icon-remove-outline" :disabled="btn.delDisabled" ></el-button>
		</div>
		
		<!-- 리스트 -->
		<el-table :height="tableHeight" border stripe highlight-current-row tooltip-effect="dark"
				:data="tableData" :size="size" th:empty-text="#{데이타 없음}"
				@row-click="handleRowClick" @select="handleRowChecked" @select-all="handleRowChecked">
			<el-table-column :label="tableData.length" type="index" 	width="55" align="center" sortable label-class-name="data_cnt"></el-table-column>
			<el-table-column type="selection" 							width="45" align="center"></el-table-column>
			<el-table-column th:label="#{옵션명}" 		prop="smenuOptNmLan" 	min-width="200" sortable></el-table-column>
			<el-table-column th:label="#{옵션 그룹}" 		prop="smenuOptTp.smenuOptTpNm" 	min-width="100" align="center" sortable></el-table-column>
			<!-- <el-table-column th:label="#{표시 순서}" 		prop="ord" 			min-width="100" align="center" sortable></el-table-column> -->
			<!-- <el-table-column th:label="#{원가}" 			prop="cost" 		min-width="100" align="right" sortable :formatter="mainVue.formatterPrice"></el-table-column> -->
			<el-table-column th:label="#{단가}" 			prop="priceLan" 	min-width="100" align="right" sortable :formatter="mainVue.formatterPrice"></el-table-column>
			<el-table-column th:label="#{사용 가능 여부}" 	prop="useYn" 		min-width="110" align="center" :formatter="mainVue.formatterCode"></el-table-column>
			<el-table-column th:label="#{설명}" 			prop="smenuOptDesc" min-width="300" show-overflow-tooltip></el-table-column>
		</el-table>
		
		<!-- 입력 팝업 -->
		<el-dialog :title="inputForm.title" :visible.sync="dialogFormVisible" width="600px">
			<el-form :model="inputForm" label-width="120px" label-suffix=":" :size="size" @submit.native.prevent>
				<el-row :gutter="20">
					<el-col :span="inputForm.smenuOptInfos.length > 0 ? 24 : 24">
						<el-tabs value="info">
							<el-tab-pane th:label="#{기본 정보}" name="info">
								<el-row :gutter="20">
									<el-col :span="inputForm.smenuOptInfos.length > 0 ? 24 : 24">
										<el-form-item th:label="#{옵션명}" :error="formError.smenuOptNm" required>
											<el-input v-model="inputForm.smenuOptNm" maxlength="50" clearable="true" show-word-limit>
												<el-button v-if="lans.length > 1" slot="append" :size="size" th:text="#{다국어 조회}" @click="dictionaryDialogFormVisible = true" icon="el-icon-search"></el-button>
											</el-input>
											
											<!-- 사전 선택 -->
											<el-dialog th:title="#{다국어 사전}" :visible.sync="dictionaryDialogFormVisible" width="900px" append-to-body>
												<div class="search_form" style="margin-bottom: 10px;">
													<el-form :inline="true" label-width="60px" label-suffix=":" :size="size" @submit.native.prevent>
														<el-form-item th:label="#{언어}">
															<el-input v-model="searchText" @keyup.enter.native="searchDictionary" clearable="true" style="width: 190%;">
																<el-button slot="append" :size="size" th:text="#{검색}" @click="searchDictionary" icon="el-icon-search"></el-button>
															</el-input>
														</el-form-item>
													</el-form>
												</div>
									
												<el-table :height="tableHeight/2" border stripe highlight-current-row tooltip-effect="dark"
														:data="popTableData" :size="size" th:empty-text="#{언어 코드}">
									      
													<el-table-column fixed>
														<template slot-scope="scope">
															<el-button :size="size" th:text="#{선택}" @click="selectDictionary(scope.row)"></el-button>
														</template>
													</el-table-column>
									
													<el-table-column th:label="#{언어 코드}" prop="id" min-width="200" sortable show-overflow-tooltip></el-table-column>
													<el-table-column v-for="item in lans" :label="item.nm" :prop="item.id" min-width="200" sortable show-overflow-tooltip></el-table-column>
												</el-table>
									
											</el-dialog>
										</el-form-item>
										
										<!-- <el-form-item th:label="#{원가}" :error="formError.cost" required>
											<el-input-number v-model="inputForm.cost" step="100" :min="0" :max="90000000" style="width: 200px;"></el-input-number>
										</el-form-item> -->
										
										<el-form-item th:label="#{단가}" :error="formError.price" required>
											<el-input-number v-model="inputForm.price" step="100" :min="0" :max="90000000" style="width: 200px;"></el-input-number>
										</el-form-item>
										
										<el-form-item th:label="#{옵션 구분}" :error="formError['smenuOptTp.smenuOptTpCd']" required>
											<opt-tp-combo :data="smenuOptTp" :model="inputForm.smenuOptTp.smenuOptTpCd" @change="inputForm.smenuOptTp.smenuOptTpCd = $event"></opt-tp-combo>
										</el-form-item>
										<el-form-item th:label="#{표시 순서}" :error="formError.ord" required>
											<el-input-number v-model="inputForm.ord" :min="1" :max="99"></el-input-number>
										</el-form-item>
										<el-form-item th:label="#{사용 가능 여부}" required>
											<combo :data="mainVue.code.useYn" :model="inputForm.useYn" @change="inputForm.useYn = $event"></combo>
										</el-form-item>
										
										<el-form-item th:label="#{설명}" :error="formError.smenuOptDesc">
											<el-input v-model="inputForm.smenuOptDesc" type="textarea" maxlength="250" show-word-limit></el-input>
										</el-form-item>
									</el-col>
								</el-row>
							</el-tab-pane>
						</el-tabs>
					</el-col>
					<el-col :span="24" v-if="inputForm.smenuOptInfos.length > 0">
						<el-tabs v-model="activiTab">
							<el-tab-pane v-for="(item, index) in inputForm.smenuOptInfos" :key="item.lanTp.id" :label="item.lanTp.nm" :name="item.lanTp.id">
								<el-form-item th:label="#{옵션명}" :error="formError['smenuOptInfos[' + index + '].smenuOptInfoNm']" required>
									<el-input v-model="inputForm.smenuOptInfos[index].smenuOptInfoNm" maxlength="50" clearable="true" show-word-limit></el-input>
								</el-form-item>
								
								<el-form-item th:label="#{단가}" :error="formError['smenuOptInfos[' + index + '].price']" required v-if="internationalPayYn">
									<el-input-number v-model="inputForm.smenuOptInfos[index].price" :min="0" :max="90000000" style="width: 200px;"></el-input-number>
								</el-form-item>
								
							</el-tab-pane>
						</el-tabs>
					</el-col>
				</el-row>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button th:text="#{저장}" icon="el-icon-check" :size="size" @click="save" :disabled="btn.saveDisabled"></el-button>
				<el-button th:text="#{닫기}" icon="el-icon-close" :size="size" @click="dialogFormVisible = false"></el-button>
			</div>
		</el-dialog>
	</div>
	
    <script type="text/javascript">
	/*<![CDATA[*/
		new Vue({
			el: '#app',
			data: function () {
				var data = parent.mainVue.initData();
				data.url = '/smenuOpt/store';
				data.storeLans = [];
				data.smenuOptTp = [];
				data.activiTab = '';
				
				data.searchForm = this.initSearchForm();
				data.inputForm = this.initInputForm();
				data.formError = this.initFormError();
				
				
				data.lans = [];
				data.popTableData = [];
				
				data.dictionaryDialogFormVisible = false;
				data.searchText = '';
				
				data.internationalPayYn = false;
				
				return data;
			},
			created: function () {
				this.initStore();
				this.initSmenuOptTp();
				this.search();
			},
			mounted: function () {
				setTimeout(function () {
					this.$nextTick(function () {
						this.mainVue.currVue = this;
					}.bind(this));
				}.bind(this), 500);
			},
			watch: {
				formError: {
					deep: true,
					handler: function (newVal, oldVal) {
						// 벨리데이션 메세지가 값은 있는데 Vue에서 표시 안해주는 현상 처리 하기 위함
						setTimeout(function () {
							var tmp = this.inputForm.smenuOptNm;
							this.inputForm.smenuOptNm = this.inputForm.smenuOptNm + ' ';
							this.inputForm.smenuOptNm = tmp;
							
							var i = 100;
							for (val in newVal) {
								if (val.indexOf('smenuOptInfos') > -1) {
									if ('' != newVal[val]) {
										if (i > val.replace(/[^0-9]*/g,"")) {
											i = parseInt(val.replace(/[^0-9]*/g,""));
										}
									}
								}
							}
							
							if (100 != i) {
								this.activiTab = this.inputForm.smenuOptInfos[i].lanTp.id;	
							}
						}.bind(this), 500);
					}
				},
				// 단가 수정 이벤트 감지
				'inputForm.price': function (newVal) {
					// 타국화페 결제 사용안할때
					if (!this.internationalPayYn) {
						for(var i = 0, len = this.inputForm.smenuOptInfos; i < len; i++) {
							this.inputForm.smenuOptInfos[i].price = this.inputForm.price;
						}
					}
				},
			},
			methods: {
				// 검색 조건 초기화
				initSearchForm: function () {
					return {
						smenuOptNm: '',
						smenuOptTpCd: null,
						useYn: 'Y'
					}
				},
				// 입력폼 초기화
				initInputForm: function () {
					return {
						statu: "I",
						title: '',
						smenuOptCd: 0,
						smenuOptNm: '',
						cost: 0,
						price: 0,
						smenuOptInfos: [],
						smenuOptTp: { smenuOptTpCd: null, smenuOptTpNm: '' },
						ord: 0,
						useYn: 'Y',
						smenuOptDesc: ''
					}
				},
				// 오류 메세지 초기화
				initFormError: function () {
					return {
						smenuOptNm: '',
						cost: '',
						price: '',
						'smenuOptTp.smenuOptTpCd': '',
						ord: '',
						useYn: '',
						smenuOptDesc: ''
					}
				},
				// 그리드 선택 이벤트
				handleRowClick: function (val) {
					if (null != val) {
						this.btn.upDisabled = false;
					}
					this.selectData = val;
				},
				// 체크 박스 체크 이벤트
				handleRowChecked: function (selection, row) {
					if (selection.length > 0) {
						this.btn.delDisabled = false;	
					} else {
						this.btn.delDisabled = true;
					}
					
					this.checkedData = [];
					
					for (var i = 0, len = selection.length; i < len; i++) {
						this.checkedData[this.checkedData.length] = selection[i].smenuOptCd;
					}
				},
				initStore: function () {
					this.mainVue.$axios.search('/store/getStore', null, function (result) {
						this.storeLans = result.lans;
						this.internationalPayYn = result.internationalPayYn;
						this.initStoreLans(result);
					}.bind(this));
				},
				// 사전 조회를 위한 언어 정보 설정
				initStoreLans: function (store) {
					this.lans = [];
					this.lans.push(store.defaultLan);
					
					for (var i = 0, len = store.lans.length; i < len; i++) {
						this.lans.push(store.lans[i]);
					}
				},
				// 옵션 구분 조회
				initSmenuOptTp: function (storeCd) {
					this.mainVue.$axios.search('/smenuOptTp/store', { smenuOptTpNm: '', useYn: 'Y' }, function (result) {
						this.smenuOptTp = result;
					}.bind(this));
				},
				// 추가
				add: function () {
					this.inputForm = this.initInputForm();
					this.inputForm.title = '[[#{옵션 추가}]]';
					
					this.formError = this.initFormError();
					
					if (this.storeLans.length > 0) {
						this.inputForm.smenuOptInfos = [];
						
						for (var i = 0, len = this.storeLans.length; i < len; i++) {
							this.formError['smenuOptInfos[' + i + '].smenuOptInfoNm'] = '';
							this.formError['smenuOptInfos[' + i + '].price'] = '';
							
	 						this.inputForm.smenuOptInfos.push({
	 							lanTp: this.storeLans[i],
	 							smenuOptInfoNm: '',
	 							price: 0
	 						});
							
	 						if (i === 0) {
	 							this.activiTab = this.storeLans[i].id;
	 						}
						}
					}
					
					this.inputForm.smenuOptTp = this.smenuOptTp.length > 0 ? util.copyObj(this.smenuOptTp[0]) : { smenuOptTpCd: null, smenuOptTpNm: '' };
					
					// 순번 자동으로 검색된 내용중 제일 마지막으로 설정
					for (var i = 0, len = this.tableData.length; i < len; i++) {
						if (this.inputForm.ord < this.tableData[i].ord) {
							this.inputForm.ord = this.tableData[i].ord;
						}
					}
					
					this.inputForm.ord++;
					
					this.dialogFormVisible = true;
					this.btn.saveDisabled = false;
				},
				// 수정
				up: function () {
					this.mainVue.$axios.get(this.url + '/' + this.selectData.smenuOptCd, function (result) {
						result.statu = "U";
						result.title = "[[#{옵션 수정}]]";
						
						this.formError = this.initFormError();
						
						this.inputForm = result;
						
						// 수정 시 매장 다국어 삭제 시 카테고리도 다국어 지워줌
						var smenuOptInfosTmp = [];
						
						if (this.inputForm.statu == "U") {
							smenuOptInfosTmp = util.copyObj(this.inputForm.smenuOptInfos);	
						}
						
						this.inputForm.smenuOptInfos = [];
						
						for (var i = 0, len = this.storeLans.length; i < len; i++) {
							this.formError['smenuOptInfos[' + i + '].smenuOptInfoNm'] = '';
							this.formError['smenuOptInfos[' + i + '].price'] = '';
							
							var smenuOptInfoNm = '';
							var price = 0;
							
							if (this.inputForm.statu == "U") {
								for (var k = 0, klen = smenuOptInfosTmp.length; k < klen; k++) {
									if (smenuOptInfosTmp[k].lanTp.id == this.storeLans[i].id) {
										smenuOptInfoNm = smenuOptInfosTmp[k].smenuOptInfoNm;
										price = smenuOptInfosTmp[k].price;
									}
								}
							}
							
	 						this.inputForm.smenuOptInfos.push({
	 							lanTp: this.storeLans[i],
	 							smenuOptInfoNm: smenuOptInfoNm,
	 							price: price
	 						});
							
	 						if (i === 0) {
	 							this.activiTab = this.storeLans[i].id;
	 						}
						}
						
						this.dialogFormVisible = true;
						this.btn.saveDisabled = false;
					}.bind(this), true);
				},
				// 조회
				search: function () {
					this.mainVue.$axios.search(this.url, this.searchForm, function (result) {
						this.tableData = result;
						
						this.btn.addDisabled = false;
						this.btn.upDisabled = true;
						this.btn.delDisabled = true;
						
						this.inputForm = this.initInputForm();
						this.formError = this.initFormError();
					}.bind(this), false);
				},
				// 삭제
				del: function () {
					this.mainVue.$confirm("[[#{{0}를 삭제 하시겠습니까?(#{옵션 정보})}]]", this.mainVue.appMsg.systemAlterTitle, {
				          confirmButtonText: "[[#{삭제}]]",
				          cancelButtonText: "[[#{취소}]]",
				          type: 'info'
				        }).then(function () {
				        	this.mainVue.$axios.del( "/smenuOpt/del/" + this.checkedData.join(","), function (result) {
				        		this.mainVue.$message({ type: 'success', message: "[[#{삭제 성공}]]" });
				        		this.search();
							}.bind(this), true);
				        }.bind(this)).catch(function () {
				        	this.mainVue.$message({ type: 'info', message: "[[#{삭제 취소}]]" });
				        }.bind(this));
				},
				// 저장
				save: function () {
					this.formError = this.initFormError();
					
					for (var i = 0, len = this.inputForm.smenuOptInfos.length; i < len; i++) {
						this.formError['smenuOptInfos[' + i + '].smenuOptInfoNm'] = '';
						this.formError['smenuOptInfos[' + i + '].price'] = '';
					}
					
					if ('I' === this.inputForm.statu) {
						this.mainVue.$axios.add(this.url, this.inputForm, this.formError, function (result) {
							this.mainVue.$message({ type: 'success', message: "[[#{등록 성공}]]" });
							this.dialogFormVisible = false;
							this.search();
						}.bind(this), true);
					} else {
						this.mainVue.$axios.up( "/smenuOpt/modi/" + this.inputForm.smenuOptCd, this.inputForm, this.formError, function (result) {
							this.mainVue.$message({ type: 'success', message: "[[#{수정 성공}]]" });
							this.dialogFormVisible = false;
							this.search();
						}.bind(this), true);
					}
				},
				searchDictionary: function () {
					this.mainVue.$axios.search("/dictionary/search", { nm: this.searchText, dictionaryTpVal: "opt" }, function (result) {
						this.popTableData = [];
						
						for (var i = 0, len = result.length; i < len; i++) {
							var tmp = result[i];
							
							tmp[result[i].lan.id] = result[i].nm;
							
							for (var j = 0, jlen = result[i].dictionarys.length; j < jlen; j++) {
								tmp[result[i].dictionarys[j].lan.id] = result[i].dictionarys[j].nm;
							}
							
							this.popTableData.push(tmp);
						}
					}.bind(this), true);
				},
				// 키워드 데이타 선택
				selectDictionary: function (row) {
					for (var i = 0, len = this.lans.length; i < len; i++) {
						// 기본 언어 새팅
						if (0 == i) {
							this.inputForm.smenuOptNm = row[this.lans[i].id];
						} else {
							// 타언어 순서대로 등록
							this.inputForm.smenuOptInfos[i-1].smenuOptInfoNm = row[this.lans[i].id];
						}
					}
					
					this.dictionaryDialogFormVisible = false;
				}
		    }
		});
	/*]]>*/
	</script>
</body>
</html>